  <nav style="background-color: #2081c3, color:white">
    
         
        
            <ul >
                <li >
                <a class="nav-link active" href="/">Home</a>
              </li>
              <li >
                <a class="nav-link active" href="/beers">Beers</a>
              </li>
              <li >
                <a class="nav-link active" href="/randomBeer">Random Beer</a>
              </li>
            </ul>
          
     
      </nav>