 <nav class="navbar navbar-dark bg-primary">
    <div class="row">
         
        
            <ul >
                <li >
                <a class="nav-link active" href="/">Home</a>
              </li>
              <li >
                <a class="nav-link active" href="/beers">Beers</a>
              </li>
              <li >
                <a class="nav-link active" href="/randomBeer">Random Beer</a>
              </li>
            </ul>
          </div>
     
      </nav>