
<div class="container my-5">
    <div class="row">
        <div class="col-12 text-center">
            
            <img class="img-fluid mx-auto d-block" src="/images/beer.png" alt="beer img">
        </div>
        <div class="col-12 mt-5 d-flex justify-content-center">
            <a class="btn btn-primary btn-lg mx-2" href="/beers" role="button">Check the Beers!</a>
            <a class="btn btn-primary btn-lg mx-2" href="/random-beer" role="button">Check a Random Beer</a>
        </div>
    </div>
</div>